body {
    background-color: #121216;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    background: linear-gradient(to right, #121216, #351E3E, #3E1721, #143228, #121216);
}

.tigo {
    position: relative;
    right: 400px;
    border: solid 0.1px white;
    border-radius: 20px;
    width: 240px;
    height: 90px;
    text-align: center;
}

.tigo img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -10px;
}

.tigo h4 {
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-family: arial;
    position: relative;
    top: 10px;
}

.deezer {
    position: relative;
    top: 5px;
    right: 50px;
}

.deezer h2 {
    color: white;
    font-size: 32px;
}

.sesion {
    border: solid 1px white;
    position: relative;
    left: 400px;
    border-radius: 20px;
    width: 140px;
    height: 40px;
    text-align: center;
}

.sesion h2 {
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

.content {
    display: block;
    margin-left: 350px;
    margin-right: 350px;
}

.content .title {
    color: white;
    font-size: 24px;
    text-align: center;
}

.premium {
    background: linear-gradient(to right, #8B58E6, #4569E7, #3F9FC3);
    text-align: center;
    border-radius: 25px;
}

.premium-2 {
    background: linear-gradient(to right, #DC4C11, #EE7F20, #F18623);
    text-align: center;
    border-radius: 25px;
}

.title {
    position: relative;
    top: 20px;
    font-size: 24px;
    margin-left: 150px;
    margin-right: 150px;
}

.detail {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size: 18px;
}

.free-premium {
    background-color: black;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
}

.amount-time {
    color: white;
    font-size: 40px;
    height: 35px;
}

.price {
    color: white;
    font-size: 18px;
}

.commitment {
    color: white;
    font-family: Arial;
    font-size: 12px;
}

.information {
    color: white;
    position: relative;
    bottom: 10px;
}

.oferta {
    top: 100px;
    border: solid 0.1px white;
    border-radius: 20px;
    width: 620px;
    height: 200px;
    text-align: center;
    background: linear-gradient(#232426, #3A3B47);
}

.oferta h4 {
    color: white;
    font-size: 20px;
}

.oferta img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -10px;
}

.gift-card {
    top: 100px;
    border: solid 0.1px white;
    border-radius: 20px;
    width: 620px;
    height: 500px;
    text-align: center;
    background: linear-gradient(#232426, #3A3B47);
    color: white;
}

.gift-card h2 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    color: white;
    text-align: center;
}

footer {
    border-top: solid 1px white;
}

footer .app {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer .app img {
    width: 200px;
    height: 200px;
}

.store {
    margin-right: 20px;
}

.vertical-footer {
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}

.deezer-footer {
    width: 200px;
}

.deezer-footer-2 {
    width: 250px;
}